## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

```python
print('Chicken Head')
```

### Examples

In [16]:
print(type(1))
print(type('string'))
print(type(True))
print(type(6.66))
print(type([1, 2, 3]))
print(type((1, 2, 3)))
print(type({1:1}))
print(type(None))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

---

## Variables

### Assigning a variable

In [21]:
favorite_number = 42
n = favorite_number + 7
print(type(favorite_number))
print(favorite_number)
print(type(n))
print(n)

<class 'int'>
42
<class 'int'>
49

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [22]:
x = 1
print(x)

x = x + 1
print(x)

x = x * 3 + x
print(x)

1
2
8

#### Example: Running a cell multiple times

In [47]:
number = 6

In [48]:
number = number + 1
print(number)

7

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [52]:
1 != 1

False

In [53]:
1 == 1

True

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [62]:
is_first_of_the_month = False
report_has_been_sent = False
should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False

## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

In [64]:
4 + 5  > 10 - 6

True

In [65]:
0.1 + 0.2 #What is all the extra that comes from this?

0.30000000000000004

In [56]:
5 > 5

False

In [58]:
5 >= 5

True

In [59]:
1 + 2 < 2.5

False

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

In [68]:
print('''hey...
Hey.
HEY!''')

hey...
Hey.
HEY!

In [73]:
print("Hey")

Hey

In [74]:
print('hey')

hey

### Operations with strings

In [70]:
person = 'black' + ' ' + 'sheep'

In [72]:
(person + ' ') * 3

'black sheep black sheep black sheep '

### Examples

In [75]:
"Hello" = "hello"

SyntaxError: cannot assign to literal (2428802984.py, line 1)

### Formatting strings

### Examples

In [76]:
name = 'World'

In [77]:
'Hello, %s!' % name

'Hello, World!'

In [78]:
'Hello, {}!'.format(name)

'Hello, World!'

In [80]:
f'Hello {name}'

'Hello World'

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [81]:
s = '    Hello, Codeup'

In [82]:
s.lower()

'    hello, codeup'

In [83]:
s.strip()

'Hello, Codeup'

In [84]:
s.isdigit()

False

In [85]:
'123'.isdigit()

True

In [86]:
s.strip().split(', ')

['Hello', 'Codeup']

In [87]:
', '.join(['uno', 'dos', 'tres'])

'uno, dos, tres'

---

## Lists

### Creating a list

In [89]:
[1, 2, 3] # a list with 3 numbers

[1, 2, 3]

In [90]:
['hey', 'Hey', 'HEY'] # a list with three strings

['hey', 'Hey', 'HEY']

In [91]:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]] # a list of lists of numbers

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List comprehensions

In [92]:
[n for n in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [94]:
[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

### List Operations

In [104]:
numbers = [1, 2, 3]

In [105]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [106]:
numbers.pop() # list.pop() deletes the last element of a list
numbers

[1, 2, 3]

In [108]:
numbers[0]

1

In [110]:
numbers[-1]

3

In [113]:
numbers[:2] # shows list index 0 up to but not including index 2

[1, 2]

In [116]:
numbers[1:] # shows us element/index 1 until the end

[2, 3]

In [117]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [121]:
list(map(str, [1,2,3]))

['1', '2', '3']

---

## Tuples

In [122]:
(1, 'two', ['abd', 'fek'])

(1, 'two', ['abd', 'fek'])

In [124]:
my_tuple = (1, 2, 3)
my_tuple[1]

2


---

## Dictionaries

### Creating a dictionary

In [135]:
{'name': 'Codeup', 'age': 4}

{'name': 'Codeup', 'age': 4}

In [ ]:
dict(name = 'Codeup', age = 4)

### Accessing dictionary values

In [ ]:
school = dict(name='Codeup', age = 9)
school['name']

In [ ]:
school['age'] += 1

school

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [137]:
int('1')

1

In [138]:
str(1)

'1'

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```